.mb-3 {
    margin: 5%;
}

.btn {
    margin: 5%;
}

.mb-2 {
    margin: 5%;
}

body{
    background: url(./img/fondo.jpg);
    margin: 15%;
    background-position: center;
}

.p1{ 
    font-size: larger;
    color:black;

}

h1{
    color:white
}